@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --opensans: 'Open Sans';
  --gray: #f4f7fe;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--opensans);
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 450px;
  overflow: hidden;
}

.header {
  position: relative;
  padding: 20px;
  background: var(--gray);
  margin-bottom: 10px;
}

.header h1 {
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.header p {
  font-size: 14px;
  font-weight: 300;
  line-height: 23px;
}

.content-wrapper {
  position: relative;
  padding: 20px;
}

.content-wrapper .quote {
  font-size: 14px;
  font-weight: 300;
  line-height: 23px;
  font-style: italic;
}

.content-wrapper .pengarang {
  font-size: 13px;
  margin: 10px 0;
  display: block;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.content-wrapper .button {
  position: relative;
  height: 50px;
  background: royalblue;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 0 20px;
  font-weight: bold;
  letter-spacing: 0.8px;
  margin-top: 10px;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
}